/*

  CSS da Referente a P�gina de Professores - professores.html

*/

.card {
  min-width: 320px;
  max-width: 400px;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.5);
}

.card-cover-img {
  overflow: hidden;
  height: 220px;
}

.card h2{
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.card h2 {
  background-color: rgba(255, 255, 255, 0.3);
}

.card .avatar-img {
  border: 6px solid #FFFFFF;
  overflow: hidden;
  position: relative;
  top: 64px;
}

/*@media (max-width: 575px) {
  .card .avatar-img {
    min-height: 130px;
    min-width: 100%;
    max-height: 130px;
    max-width: 100%;
  }
}*/

.card .avatar-img {
  min-height: 130px;
  min-width: 130px;
  max-height: 130px;
  max-width: 130px;
}

.avatar-img img {
  max-height: 100%;
  max-width: 100%;
}


/* Test section*/

.card .avatar-img {
  background-color: #8c5020;
}

.card-block {
  margin-top: 50px;
}
