html, body, main{
  width: 100%;
  height: 100%;
}

/*

  CSS da Referente a P�gina de Professores - professores.html

*/

.card{
  width: 100%;
}

.card .avatar-img {
  border: 6px solid #FFFFFF;
  min-height: 130px;
  min-width: 130px;
  max-height: 130px;
  max-width: 130px;

  position: relative;
  top: 15%;
}

.card-img-overlay{

}

/* Test section*/
.card .avatar-img{
  background-color: #8c5020;
}


.card-block{
  margin-top: 50px;
}
